
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; /* Remove mobile highlight */
}

body {
  font-family: 'Montserrat', sans-serif; /* Base font for body */
  background-color: #ffffff;             /* Default background */
  color: #1A1A1A;                        /* Default text color */
  line-height: 1.6;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
  font-family: 'Roboto Condensed', sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}


img, video {
  max-width: 100%;
  display: block;
  object-fit: cover;
}


button, input, textarea, select {
  font-family: inherit;
  font-size: 100%;
  border: none;
  outline: none;
  background: none;
}

button {
  cursor: pointer;
}

input:focus, textarea:focus {
  outline: none;
}

/* ==================================== */
/* 7. UTILITY CLASSES                   */
/* ==================================== */
.hidden {
  display: none !important;
}
.bg-wrapper {
  background-image: url('/assets/navbar/Decore.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 700px; /* Adjust to match the figma */
  width: 100%;
}
@media (max-width: 600px) {
  .bg-wrapper {
    background-image: none;
  }
}